/* profile.css */

.bg-primary {
    background-color: #ff114f;
}

body {
    background-image: url("../img/t8.jpg");
    background-repeat: repeat;
    background-color: rgba(0,0,0,.5);
    text-shadow: -1px 0 black, 0 1px black;

    color: white;
}

.jumbotron { 
  background-color: rgba(11, 1, 14, 0.39);
}


