.bg-primary {
    background-color: #ff114f;
}

body {
    background-image: url("../img/Picture1.png");
    background-repeat: repeat;
    color: #ff114f;
}

.img-circle {    
	width: 100px;
}

.card {
  color: #80e8a1;
  position:relative;
}

.col-md-12{ 
    max-width: 100%;
}

.style {
    max-width: 100%;
}

.blog{
    max-width: 100%;
}

.margin-card {
  margin-top: 30px;
  background-color: rgba(0,0,0,.6);
  color: white;
  margin-bottom: 40px;
}

.card {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgba(0,0,0,.6); 
  border-top-width: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
}
.card-footer{
 background-color: rgba(0,0,0,.6); 
}

.card-title{ 
  color: #337ab7;}

.pic{
  max-width: 50%;
}